@font-face {
    font-family: "AFont";
    font-weight: 700;
    src: url("GT-America-Bold.otf");
}


@font-face {
    font-family: "AFont";
    font-weight: 500;
    src: url("GT-America-Medium.otf");
}


@font-face {
    font-family: "AFont";
    font-weight: 300;
    src: url("GT-America-Regular.otf");
}


@font-face {
    font-family: 'An';
    font-weight: 300;
    src: url('Aeonik-Regular.ttf')
}

@font-face {
    font-family: 'An';
    font-weight: 600;
    src: url('Aeonik-Bold.ttf')
}