@tailwind base;

@tailwind components;

@tailwind utilities;



.font-ex {
    font-family: 'AFont-Ex', sans-serif;
}

.font-gt { 
    font-family: 'An', sans-serif;
}


.strokes-bg {

    background-image: url(./images/stokes-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0px;
    /* padding-bottom: 50px; */
}

.steps-section {
    /* background-image: url("../images/patterns/home/home-device-section.svg"); */
    background-repeat: no-repeat;
    background-position: -110% 120px;
    background-size: 68%;
    /* padding-bottom: 120px */
}

.steps-section .button {
    -ms-flex-item-align: start;
    align-self: flex-start
}

@media screen and (max-width: 600px) {
    .steps-section .button {
        -ms-flex-item-align:center;
        -ms-grid-row-align: center;
        align-self: center
    }
}

.steps-section .steps-area {
    counter-reset: item;
    margin-top: 60px
}

@media screen and (max-width: 600px) {
    .steps-section .steps-area {
        margin-top:40px
    }
}

.steps-section .steps-area .step__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 50px;
    position: relative;
    /* opacity: .2; */
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: .5s
}

@keyframes scaleCircle {
    from {
        opacity: 1;
        transform: scale(0.8)
    }

    to {
        opacity: 0;
        transform: scale(1.3)
    }
}

@keyframes scaleCircle2 {
    from {
        opacity: 1;
        transform: scale(0.8)
    }

    to {
        opacity: 0;
        transform: scale(4.9)
    }
}

.steps-section .steps-area .step__item:last-child:before {
    content: none
}

.steps-section .steps-area .step__item:before {
    content: "";
    width: 1px;
    position: absolute;
    background-color: #0066f5;
    top: 50px;
    opacity: 0;
    left: 12px;
    height: 0%;
    transition: height .8s ease-out
}

.steps-section .steps-area .step__item.active:before {
    height: 80%;
    opacity: 1
}

.steps-section .steps-area .step__item.active:nth-child(3) .step__item-number:before {
    animation: scaleCircle2 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards
}

.steps-section .steps-area .step__item.active .step__item-number:before {
    animation: scaleCircle .5s linear forwards
}

.steps-section .steps-area .step__item-content {
    margin-left: 60px;
    max-width: 70%
}

@media screen and (max-width: 600px) {
    .steps-section .steps-area .step__item-content {
        max-width:100%;
        margin-left: 36px
    }
}

.steps-section .steps-area .step__item-content span {
    /* font-size: 2.4rem;
    line-height: 1;
    font-weight: 600 */
}

@media screen and (max-width: 600px) {
    .steps-section .steps-area .step__item-content span {
        font-size:2.1rem
    }
}

.steps-section .steps-area .step__item-content p {
    opacity: .8
}

.steps-section .steps-area .step__item-number {
    position: relative
}

.steps-section .steps-area .step__item-number:before {
    content: "";
    background-color: rgba(162,227,252,0.4);
    border-radius: 100%;
    height: 60px;
    width: 60px;
    position: absolute;
    top: -18px;
    opacity: 0;
    left: -17px
}

.steps-section .steps-area .step__item-number:after {
    counter-increment: item;
    content: "0" counter(item);
    font-size: 2rem;
    color: #0066f5;
    font-weight: 600;
    z-index: 1
}

.steps-section .device-mockup {
    height: 700px;
    width: 100%;
    position: relative
}

.steps-section .device-mockup img {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 52px;
    max-height: 100%;
    max-width: 100%
}

@media screen and (max-width: 600px) {
    .steps-section .device-mockup {
        height:525px;
        margin-bottom: 40px
    }

    .steps-section .device-mockup img {
        top: 0;
        left: 15%
    }
}

@media screen and (max-width: 375px) {
    .steps-section .device-mockup {
        height:423px
    }
}
